NEXTAUTH_URL=https://pms.local
NEXTAUTH_SECRET=replace-with-at-least-32-random-bytes
OIDC_ISSUER=https://keycloak.local/realms/pms
OIDC_CLIENT_ID=pms-web
OIDC_CLIENT_SECRET=replace-from-vault
CORE_API_URL=https://pms-api.internal
